.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/138936802_3642396559175615_8271598951115510898_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 112px 871px 0 48px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: 672px;
    margin-left: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 46px;
    margin-right: 170px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
    margin-bottom: 36px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/138274936_3642557792492825_1287203277094716624_n.jpg");
  background-position: 50% 59.19%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 111px 874px 60px 47px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin: 43px 673px 0 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 501px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 321px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/138260916_3642282445853693_6592763382347330973_n.jpg");
  background-position: 100% 45.87%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 111px 872px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-right: 651px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/137277134_3637157496366188_8828769433980835097_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-4 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 68px 846px 60px 47px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-4 .u-text-2 {
    width: auto;
    margin: 50px 659px 0 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 0;
    margin-right: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 97px;
    margin-right: 119px;
  }
}.u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/137534118_3638406786241259_5283683832252819742_n.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-5 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 58px 841px 0 59px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-5 .u-text-1 {
    margin-right: 582px;
    margin-left: 9px;
  }

  .u-section-1-5 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-right: 659px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-5 .u-text-1 {
    margin-left: 7px;
    margin-right: 362px;
  }

  .u-section-1-5 .u-text-2 {
    margin-left: 0;
    margin-right: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-5 .u-text-1 {
    margin-left: 5px;
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-5 .u-text-2 {
    margin-right: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-1-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 77px;
    margin-right: 119px;
  }
}.u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/136707129_3630771570338114_8028321797712190017_n.jpg");
  background-position: 50% 44.94%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-6 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-6 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 111px 872px 60px 47px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-6 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-6 .u-text-2 {
    width: auto;
    margin: 60px 632px 0 87px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-6 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-6 .u-text-2 {
    margin-left: 0;
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-6 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-6 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-6 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
    margin-bottom: 35px;
  }
}.u-section-1-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/136932465_3630794280335843_2334074522505549040_n.jpg");
  background-position: 50% 59.32%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-7 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-7 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 111px 872px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-1-7 {
    background-position: 50% 55.58%;
  }

  .u-section-1-7 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-7 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-7 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-right: 659px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-7 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-7 .u-text-2 {
    margin-left: 0;
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-7 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-7 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-7 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
    margin-bottom: 35px;
  }
}.u-section-1-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/136688257_3630799417001996_976335356841850229_n.jpg");
  background-position: 50% 47.57%;
}

.u-section-1-8 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1-8 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 87px 782px 0 0;
}

.u-section-1-8 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 111px 872px 60px 47px;
}

@media (max-width: 1199px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1-8 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-1-8 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-right: 672px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1-8 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-1-8 .u-text-2 {
    margin-left: 0;
    margin-right: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1-8 .u-text-1 {
    margin-right: 182px;
    font-size: 3.75rem;
  }

  .u-section-1-8 .u-text-2 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-right: 170px;
  }

  .u-section-1-8 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 119px;
    margin-right: 119px;
  }
}.u-block-bd15-1 {
  background-image: none;
}

.u-block-bd15-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bd15-3 {
  position: absolute;
  left: 0;
}

.u-block-bd15-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(93,75,68,0.7), rgba(93,75,68,0.7)), url("images/fa0e4cab9d6f04976025479a5b9fd301.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 886px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 826px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 43px;
  font-size: 3.75rem;
  margin: 29px 10px 0 -10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 41px 0 0 -18px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 826px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 408px;
  height: 408px;
  background-image: none;
  margin: 54px -16px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 408px;
  height: 408px;
  background-image: url("images/132521956_3592803430801595_397546997057957391_o1.jpg");
  background-position: 50% 50%;
  margin: -310px auto 0 -16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 714px;
  }

  .u-section-2 .u-shape-1 {
    width: 300px;
    height: 300px;
    margin-top: 14px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: -222px;
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: -30px;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: -231px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 424px;
    height: 424px;
    margin-top: 39px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-1 {
    width: 443px;
    height: 443px;
    margin-top: -301px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 129px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 21px;
    margin-bottom: -48px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 60px;
  }

  .u-section-2 .u-shape-1 {
    width: 150px;
    height: 150px;
    margin-top: -599px;
    margin-right: -46px;
  }

  .u-section-2 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -115px;
    margin-right: 21px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-3 .u-shape-1 {
  width: 546px;
  left: 178px;
  right: auto;
}

.u-section-3 .u-image-1 {
  width: 620px;
  height: 453px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 620px;
  height: 453px;
  margin: 187px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 385px;
  height: 257px;
  margin: -377px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 385px;
  height: 256px;
  margin: -854px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 650px;
  min-height: 480px;
  background-image: none;
  margin: -68px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-shape-1 {
    width: 501px;
    left: auto;
    right: 180px;
  }

  .u-section-3 .u-image-1 {
    width: 438px;
    height: 339px;
  }

  .u-section-3 .u-image-2 {
    width: 437px;
    height: 339px;
    margin-top: 261px;
  }

  .u-section-3 .u-image-3 {
    width: 318px;
    height: 206px;
    margin-top: -291px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-4 {
    width: 319px;
    height: 207px;
    margin-top: -838px;
    margin-right: 30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-3 .u-shape-1 {
    width: 618px;
    left: 39px;
    right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 579px;
    height: 446px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 431px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 492px;
    left: auto;
    right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 492px;
    height: 416px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-3 .u-shape-1 {
    width: 318px;
  }

  .u-section-3 .u-image-1 {
    width: 198px;
    height: 158px;
    margin-top: 22px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-2 {
    width: 198px;
    height: 158px;
    margin-top: 370px;
    margin-right: -50px;
  }

  .u-section-3 .u-image-3 {
    width: 170px;
    height: 120px;
    margin-top: -158px;
    margin-left: -31px;
  }

  .u-section-3 .u-image-4 {
    width: 170px;
    height: 120px;
    margin-top: -610px;
    margin-right: -37px;
    margin-left: 208px;
  }

  .u-section-3 .u-group-1 {
    width: 368px;
    min-height: 426px;
    margin: -29px -14px 153px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
  }
}.u-section-4 {
  background-image: linear-gradient(#f9f5f2, #cabbb5);
}

.u-section-4 .u-sheet-1 {
  min-height: 888px;
}

.u-section-4 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.75rem;
  margin: 77px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -9px -19px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 369px;
  height: 350px;
  margin: 57px auto 0 -47px;
}

.u-section-4 .u-list-1 {
  min-height: 640px;
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  width: 623px;
  grid-gap: 22px 22px;
  margin: -605px 0 0 auto;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 0 19px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-size: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 0 19px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 0 19px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 28px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-size: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 0 19px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 28px 0 0;
}

.u-section-4 .u-image-1 {
  width: 307px;
  height: 307px;
  object-position: 100% 66.05%;
  animation-duration: 6250ms;
  background-image: url("images/l.jpg");
  background-position: 50% 50%;
  margin: -415px auto 0 28px;
}

.u-section-4 .u-image-2 {
  width: 129px;
  height: 129px;
  object-position: 50% 13.94%;
  background-image: url("images/155251383_715186622696156_2291251845817728643_n2.jpg");
  background-position: 50% 50%;
  margin: -306px auto 0 358px;
}

.u-section-4 .u-image-3 {
  width: 129px;
  height: 129px;
  background-image: url("images/155833363_695945714416841_2915909604669909192_n1.jpg");
  background-position: 50% 50%;
  margin: -263px auto 0 263px;
}

.u-section-4 .u-image-4 {
  width: 128px;
  height: 128px;
  background-image: url("images/154971862_735116900709634_1978733752644925195_n.jpg");
  background-position: 50% 50%;
  margin: -111px auto 0 -54px;
}

.u-section-4 .u-icon-1 {
  height: 92px;
  width: 92px;
  margin: -362px 356px 0 auto;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 47px 74px 0 auto;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -64px auto 0 683px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 293px 332px 0 auto;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: -64px 98px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 130px;
  height: 130px;
  background-image: url("images/156184909_451503952871214_8341577737366667805_n1.jpg");
  background-position: 50% 50%;
  margin: -387px auto 60px 103px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 1474px;
  }

  .u-section-4 .u-shape-1 {
    width: 290px;
    height: 257px;
    margin-top: 60px;
    margin-right: -26px;
  }

  .u-section-4 .u-shape-2 {
    width: 338px;
    height: 363px;
    margin-top: -129px;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    min-height: 726px;
    height: auto;
    width: 470px;
    margin-top: -503px;
  }

  .u-section-4 .u-image-1 {
    width: 352px;
    height: 352px;
    margin-top: -704px;
    margin-left: 39px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 982px;
  }

  .u-section-4 .u-shape-1 {
    width: 483px;
    height: 351px;
    margin-top: 1058px;
  }

  .u-section-4 .u-shape-2 {
    width: 527px;
    height: 489px;
    margin-top: -1376px;
    margin-left: -35px;
  }

  .u-section-4 .u-list-1 {
    min-height: 428px;
    margin-top: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 900px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 1014px;
    margin-right: -33px;
  }

  .u-section-4 .u-shape-2 {
    width: 474px;
    height: 343px;
    margin-top: -1266px;
  }

  .u-section-4 .u-list-1 {
    min-height: 431px;
    margin-top: 240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1743px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 34px;
    margin-right: 28px;
    margin-left: -28px;
  }

  .u-section-4 .u-shape-1 {
    width: 215px;
    height: 197px;
    margin-top: 0;
    margin-right: -30px;
  }

  .u-section-4 .u-shape-2 {
    width: 274px;
    height: 245px;
    margin-top: 1105px;
    margin-left: -36px;
  }

  .u-section-4 .u-list-1 {
    min-height: 1020px;
    grid-template-columns: 100%;
    margin-top: -1520px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 250px;
    height: 250px;
    margin-top: 202px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 100px;
    height: 100px;
    margin-top: -219px;
    margin-right: -31px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 100px;
    height: 100px;
    margin-top: -276px;
    margin-left: 98px;
  }

  .u-section-4 .u-image-4 {
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-1 {
    height: 70px;
    width: 70px;
    margin-top: -1366px;
    margin-right: -35px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 326px;
    margin-right: auto;
    margin-left: 147px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -302px;
    margin-left: 147px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 465px;
    margin-right: 45px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 204px;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    width: 100px;
    height: 100px;
    margin-top: 236px;
    margin-left: -36px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-shape-1 {
  width: 380px;
  background-image: none;
  left: auto;
  right: 179px;
}

.u-section-5 .u-group-1 {
  min-height: 410px;
  width: 609px;
  margin: 239px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 50px;
}

.u-section-5 .u-image-1 {
  width: 429px;
  height: 401px;
  margin: -26px auto 0;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin: -340px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 4.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: none;
  font-style: italic;
  margin: -64px 30px 0 341px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 45px 114px 0 64px;
}

.u-section-5 .u-image-2 {
  width: 619px;
  height: 348px;
  object-position: 100% 38.77%;
  background-position: 100% 50%;
  margin: -648px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-shape-1 {
    width: 301px;
  }

  .u-section-5 .u-group-1 {
    width: 561px;
    min-height: 401px;
    margin-top: 292px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 3px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: -305px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-3 {
    width: 382px;
  }

  .u-section-5 .u-image-2 {
    width: 561px;
    height: 401px;
    margin-top: -692px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-5 .u-group-1 {
    width: 503px;
    min-height: 410px;
    margin-top: 350px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 112px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -294px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-5 .u-image-2 {
    width: 630px;
    height: 459px;
    margin-top: -891px;
    margin-right: auto;
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-5 .u-shape-1 {
    right: 160px;
  }

  .u-section-5 .u-group-1 {
    width: 442px;
    min-height: 555px;
    margin-top: 283px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 151px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -332px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-right: 6px;
    margin-left: 317px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 40px;
    margin-right: 90px;
  }

  .u-section-5 .u-image-2 {
    height: 348px;
    width: 473px;
    margin-top: -810px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-shape-1 {
    width: 310px;
    height: 519px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -1px -11px 0 auto;
  }

  .u-section-5 .u-group-1 {
    width: 351px;
    min-height: 325px;
    margin-top: -322px;
    margin-left: -50px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 330px;
    width: 352px;
    margin-top: -9px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -287px;
    margin-right: 18px;
    margin-left: -17px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -25px;
    margin-right: -30px;
    margin-left: 263px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 62px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 226px;
    margin: -521px -50px 99px auto;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(225,215,211,0.7), rgba(225,215,211,0.7)), url("images/db2179b77db340378f9c0ef18e9a3293.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 73px 87px 0 36px;
}

.u-section-6 .u-icon-1 {
  height: 82px;
  width: 82px;
  margin: -81px -17px 0 auto;
}

.u-section-6 .u-group-1 {
  margin-top: 62px;
  margin-bottom: 0;
  min-height: 126px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-6 .u-group-2 {
  width: 522px;
  min-height: 146px;
  margin: 17px auto 0 102px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-6 .u-group-3 {
  width: 522px;
  min-height: 242px;
  margin: 25px 102px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 -2px 0 3px;
}

.u-section-6 .u-group-4 {
  width: 522px;
  min-height: 222px;
  margin: 25px auto 25px 102px;
}

.u-section-6 .u-container-layout-4 {
  padding: 24px 30px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 -2px 0 3px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 36px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 2px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-2 {
    margin-left: 18px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-3 {
    margin-right: 18px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-4 {
    margin-left: 18px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 30px;
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-1 {
    height: 66px;
    width: 66px;
    margin-top: -59px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 252px;
    width: 400px;
    margin-top: 25px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    min-height: 158px;
    margin-top: 46px;
    margin-right: 36px;
    margin-left: -36px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-group-3 {
    width: 340px;
    min-height: 299px;
    margin-top: 36px;
    margin-right: -30px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-4 {
    width: 340px;
    min-height: 254px;
    margin-bottom: 24px;
    margin-left: -30px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 941px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 37px;
}

.u-section-7 .u-image-1 {
  background-image: url("images/138028172_3638406726241265_2641065067631423998_n.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 143px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 11px 75px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 5px 31px 0 0;
}

.u-section-7 .u-shape-1 {
  width: 61px;
  height: 61px;
  margin: 33px auto 0 -61px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 666px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 11px 25px;
}

.u-section-7 .u-form-1 {
  height: 132px;
  margin: -135px 72px 0 77px;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-7 .u-shape-2 {
  width: 80px;
  height: 80px;
  margin: 17px auto 0 232px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: -32px 378px 0 87px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 34px 48px 0 387px;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 88px;
  margin: 10px 58px 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-map-1 {
  width: 107px;
  height: 68px;
  margin: -68px 378px 0 auto;
}

.u-section-7 .embed-responsive-1 {
  height: 178%;
  width: 178%;
  left: -39%;
  top: -39%;
}

.u-section-7 .u-shape-3 {
  width: 48px;
  height: 48px;
  margin: 76px 243px 0 auto;
}

.u-section-7 .u-text-4 {
  margin: -142px 351px 0 23px;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  margin: -205px 58px 0 316px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  border-style: solid;
  margin: 15px 88px 0 auto;
}

.u-section-7 .u-icon-4 {
  font-size: 0.7em;
  width: 11px;
  height: 14px;
}

.u-section-7 .u-shape-4 {
  width: 44px;
  height: 44px;
  margin: -58px 31px 0 auto;
}

.u-section-7 .u-map-2 {
  width: 111px;
  height: 68px;
  margin: -44px auto 0 104px;
}

.u-section-7 .embed-responsive-2 {
  height: 178%;
  width: 178%;
  left: -39%;
  top: -39%;
}

.u-section-7 .u-shape-5 {
  width: 44px;
  height: 44px;
  margin: -281px auto 0 0;
}

.u-section-7 .u-shape-6 {
  width: 102px;
  height: 102px;
  margin: 334px auto 0 240px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 51px;
  }

  .u-section-7 .u-image-1 {
    min-height: 764px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-shape-1 {
    margin: 89px 62px -32px auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 549px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -162px;
    margin-right: 15px;
    margin-left: 20px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -287px;
    margin-right: 89px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 267px;
    margin-right: 262px;
    margin-left: 89px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -13px;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 7px;
    margin-right: 15px;
  }

  .u-section-7 .u-map-1 {
    margin-top: -9px;
    margin-right: 270px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 138px;
    margin-right: 151px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: -209px;
    margin-right: 230px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -333px;
    margin-right: 0;
    margin-left: 248px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 12px;
    margin-right: 23px;
    padding: 7px 21px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 155px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-map-2 {
    margin-top: -125px;
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -409px;
    margin-left: 7px;
  }

  .u-section-7 .u-shape-6 {
    margin-top: 349px;
    margin-right: 27px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 34.91%;
    min-height: 340px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 251px;
    margin-right: 243px;
    margin-bottom: -385px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -187px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 470px;
    margin-right: auto;
    margin-left: -436px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -471px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -31px;
    margin-right: 14px;
    margin-left: -14px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 26px;
    margin-right: 26px;
  }

  .u-section-7 .u-map-1 {
    margin-top: -6px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 106px;
    margin-right: auto;
    margin-left: -283px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -241px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -295px;
    margin-right: -13px;
    margin-left: 14px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -43px;
    margin-right: 67px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: -162px;
    margin-right: 236px;
  }

  .u-section-7 .u-map-2 {
    margin-top: 235px;
  }

  .u-section-7 .u-shape-6 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-7 .u-image-1 {
    min-height: 255px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -648px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 55px;
    margin-right: 190px;
    margin-left: 17px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 499px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 23px;
  }

  .u-section-7 .u-map-1 {
    margin-top: -533px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: -163px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 28px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: 364px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: -23px;
    margin-right: -13px;
    margin-left: 14px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: -841px;
    margin-right: -13px;
    margin-left: 14px;
  }

  .u-section-7 .u-shape-6 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 369px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 17px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 363px;
    margin-right: -23px;
    margin-bottom: -43px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 112px;
  }

  .u-section-7 .u-form-1 {
    height: 122px;
    width: 230px;
    margin-top: -412px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-btn-2 {
    padding: 5px 20px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -35px;
    margin-left: -32px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 342px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
    width: 179px;
    margin-top: 169px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-7 .u-map-1 {
    margin-top: -78px;
    margin-right: 213px;
  }

  .u-section-7 .u-shape-3 {
    margin-top: -140px;
    margin-left: 4px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -6211px;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: -130px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 97px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: -340px;
    margin-right: -33px;
    margin-left: auto;
  }

  .u-section-7 .u-map-2 {
    margin-top: -92px;
    margin-right: 209px;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -470px;
    margin-left: -32px;
  }

  .u-section-7 .u-shape-6 {
    width: 48px;
    height: 48px;
    margin-top: 1px;
    margin-right: -33px;
    margin-left: auto;
  }
}